@page
@model DiamondStore.Pages.Admin.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User.UserId" />
            <div class="form-group">
                <label asp-for="User.Id" class="control-label"></label>
                <input asp-for="User.Id" class="form-control" />
                <span asp-validation-for="User.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Username" class="control-label"></label>
                <input asp-for="User.Username" class="form-control" />
                <span asp-validation-for="User.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Password" class="control-label"></label>
                <input asp-for="User.Password" class="form-control" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.RoleId" class="control-label"></label>
                <select asp-for="User.RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
                <span asp-validation-for="User.RoleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Status" class="control-label"></label>
                <input asp-for="User.Status" class="form-control" />
                <span asp-validation-for="User.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
