@page
@model DiamondStore.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
<script src="https://cdn.tailwindcss.com"></script>

<main class="h-screen flex items-center justify-center bg-slate-200">
    <partial name="_Toast" />
    <div class="flex w-full max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-lg dark:bg-gray-800 lg:max-w-6xl h-[40rem]">
        <!-- Left content -->
        <div class="w-full py-16 px-8 lg:w-2/5">
            <!--Logo-->
            <div class="flex items-center">
                <a class="mx-auto" href="/"><img src="https://flowbite.com/docs/images/logo.svg" alt="Logo" class="h-16"></a>
            </div>
            <div class="sticky w-full flex justify-center items-center mt-2 text-2xl lg:text-3xl">
                <h1 class="block text-gray-400 font-light mb-2 mt-10 px-3">Welcome to</h1>
                <div>
                    <h2 class="flex bg-blue-500 rounded text-white font-light pb-2 mt-10 px-3">DiamondStore</h2>
                </div>
            </div>

            <!-- form -->
            <form method="post">
                <p class="ml-3 my-4 text-gray-400 text-center">Login to your account</p>
                <!-- Username-->
                <div class="relative flex items-center">
                    <span class="absolute">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-3 text-gray-300 dark:text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path>
                        </svg>
                    </span>
                    <input asp-for="Input.Email" type="text" class="block w-full py-3 text-gray-700 bg-white border rounded-lg px-11 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40" placeholder="Username">
                    <span asp-validation-for="Input.Email" class="text-red-500"></span>
                </div>

                <!--Password-->
                <div class="relative flex items-center mt-4">
                    <span class="absolute">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-3 text-gray-300 dark:text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"></path>
                        </svg>
                    </span>

                    <input asp-for="Input.Password" type="password" class="block w-full px-10 py-3 text-gray-700 bg-white border rounded-lg dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40" placeholder="Password">
                    <span asp-validation-for="Input.Password" class="text-red-500"></span>
                </div>
                <!--Login-->
                <div class="pt-1 pb-4 mb-auto text-center mt-">
                    <button type="submit" class="my-3 inline-block w-full px-6 pb-2 pt-2.5 text-lg uppercase transition-colors duration-300 transform bg-blue-500 rounded-lg hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80 text-white">
                        Login
                    </button>
                    <p class="text-red-400"></p>
                    <p class="text-red-400"></p>
                    <!--Forgot password-->
                    <h1 class="flex items-center justify-center mt-3 text-gray-400 opacity-100 hover:opacity-50">
                        <a href="/forgot-pass">Forgot password?</a>
                    </h1>
                </div>
                <!--Register-->
                <div class="flex items-center justify-between pb-6">
                    <p class="mb-0 mr-2 text-gray-400">Don't have an account?</p>
                    <button type="submit" class="inline-block border-2 border-danger px-6 py-2 text-xs font-medium tracking-wide text-gray-400 hover:text-white capitalize transition-colors duration-300 transform bg-blue-white rounded-lg hover:bg-blue-500 focus:outline-none focus:ring focus:ring-white focus:ring-opacity-50">
                        <a asp-page="./Register">Register</a>
                    </button>
                </div>
            </form>
        </div>

        <!-- Right content -->
        <img class="hidden bg-cover lg:block lg:w-3/5 object-cover" src="https://th.bing.com/th/id/OIP.7Hw4Ny61e_zegbB2XHQXHwHaFj?rs=1&pid=ImgDetMain" />
    </div>
</main>
