@page
@model DiamondStore.Pages.DeliveryManagepage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Delivery</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Delivery.OrderId" class="control-label"></label>
                <select asp-for="Delivery.OrderId" class ="form-control" asp-items="ViewBag.OrderId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Delivery.ShiperId" class="control-label"></label>
                <select asp-for="Delivery.ShiperId" class ="form-control" asp-items="ViewBag.ShiperId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Delivery.ManagerId" class="control-label"></label>
                <select asp-for="Delivery.ManagerId" class ="form-control" asp-items="ViewBag.ManagerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Delivery.Status" class="control-label"></label>
                <input asp-for="Delivery.Status" class="form-control" />
                <span asp-validation-for="Delivery.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
