@page
@model DiamondStore.Pages.Warranties.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Warranty</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Warranty.ProductId" class="control-label"></label>
                <select asp-for="Warranty.ProductId" class ="form-control" asp-items="ViewBag.ProductId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Warranty.UserId" class="control-label"></label>
                <select asp-for="Warranty.UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Warranty.IssueDate" class="control-label"></label>
                <input asp-for="Warranty.IssueDate" class="form-control" />
                <span asp-validation-for="Warranty.IssueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Warranty.ExpirationDate" class="control-label"></label>
                <input asp-for="Warranty.ExpirationDate" class="form-control" />
                <span asp-validation-for="Warranty.ExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
